<meta charset="utf-8">
<title><%= title %></title>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
<%== meta_data_tags %>
<%= canonical_tag(current_store.url) %>
<%= favicon_link_tag 'favicon.ico' %>
<%= stylesheet_link_tag 'spree/frontend/all', :media => 'screen' %>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"> 
<%= csrf_meta_tags %>
<%= javascript_include_tag 'spree/frontend/all' %>

<meta property="og:url" content="<%= current_store.url %>"/>
  <meta property="og:title" content="<%= title %>"/>
  <meta property="og:description" content="***"/>
  <meta property="og:image" content="https://cdn.shopify.com/s/files/1/0210/5956/files/tokyowheel-facebook-profile-image.jpg?28561"/>
  <!-- image lazy load -->  
  <script>$(function() {$("img").unveil(500);});</script>
  <!-- image lazy load -->  
    <script type="text/javascript" src="//www.yotpo.com/js/yQuery.js"></script>
    <!-- google webmaster verification -->
    <meta name="google-site-verification" content="skv0F6aHHrQD5yqiVkivyS47jsrHlNVZeC3EJg3GECM" />
    <!-- end google webmaster verification -->
<!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6/html5shiv.min.js"></script>
<![endif]-->
<%= yield :head %>
